body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 24px;
}

main {
  padding: 20px;
  text-align: center;
}

#map {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #ccc;
  z-index: 1;
}

.description {
  margin-top: 20px;
  font-size: 18px;
}

#modal {
  pointer-events: none;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 100px;
  padding-top: 20px;
  z-index: 100;
  transition: 0.3s;
  background-color: #000000e5;
  display: flex;
  flex-direction: column;

  &.open {
    pointer-events: all;
    opacity: 1;
  }

  #image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  #image {
    object-fit: contain;
    width: 100%;
    height: calc(100% - 4rem);
  }

  #close {
    width: 3rem;
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 24px;
    cursor: pointer;
    fill: #fff !important;
  }

  #title {
    color: #fff;
    font-size: 64px;
    margin-bottom: 40px;
  }
}
